@(pro1:Products,pro2:Products,pro3:Products,pro4:Products,pro5:Products,pro6:Products,pro7:Products,pro8:Products,pro9:Products)
<head>
    <title>
        PRODUCTS SHOW.
    </title>
    <style>
    div.outset {border-style: outset;}
    </style>
</head>

<div>
    <br><div class="alert alert-info">
    <strong>STEAM.</strong><span><img src="assets/images/steam.png"width="50"></span>
</div>
    <div><center><img src="assets/images/pubg.jpg"width="250"><br>
        <br><div class="col-sm-4" style="background-color: snow">
            <h3 style="border: 5px solid Tomato;">GAME ID : @pro1.getId</h3>
            <div class="bg-warning text-dark">NAME : @pro1.getName</div>
            <div class="outset">PRICE :@pro1.getPrice</div>
        AMOUNT :@pro1.getAmount
        </div></center>
    </div>
    <br><div><center><img src="assets/images/gta5.jpg"width="250"><br>
    <br><div class="col-sm-4" style="background-color: snow">
        <h3 style="border: 5px solid Tomato;">GAME ID : @pro2.getId</h3>
        <div class="bg-warning text-dark">NAME : @pro2.getName</div>
        <div class="outset">PRICE :@pro2.getPrice</div>
        AMOUNT :@pro2.getAmount
    </div></center>
</div>
    <br><div><center><img src="assets/images/csgo.jpg"width="250"><br>
    <br><div class="col-sm-4" style="background-color: snow">
        <h3 style="border: 5px solid Tomato;">GAME ID : @pro3.getId</h3>
        <div class="bg-warning text-dark">NAME : @pro3.getName</div>
        <div class="outset">PRICE :@pro3.getPrice</div>
        AMOUNT :@pro3.getAmount
    </div></center>
</div>
    <br><div><center><img src="assets/images/farcry5.jpg"width="250"><br>
    <br><div class="col-sm-4" style="background-color: snow">
        <h3 style="border: 5px solid Tomato;">GAME ID : @pro4.getId</h3>
        <div class="bg-warning text-dark">NAME : @pro4.getName</div>
        <div class="outset">PRICE :@pro4.getPrice</div>
        AMOUNT :@pro4.getAmount
    </div></center>
</div>
    <br><div><center><img src="assets/images/arma3.jpg"width="250"><br>
    <br><div class="col-sm-4" style="background-color: snow">
        <h3 style="border: 5px solid Tomato;">GAME ID : @pro5.getId</h3>
        <div class="bg-warning text-dark">NAME : @pro5.getName</div>
        <div class="outset">PRICE :@pro5.getPrice</div>
        AMOUNT :@pro5.getAmount
    </div></center>
</div>
    <br><div><center><img src="assets/images/callofdutybo2.jpg"width="250"><br>
    <br><div class="col-sm-4" style="background-color: snow">
        <h3 style="border: 5px solid Tomato;">GAME ID : @pro6.getId</h3>
        <div class="bg-warning text-dark">NAME : @pro6.getName</div>
        <div class="outset">PRICE :@pro6.getPrice</div>
        AMOUNT :@pro6.getAmount
    </div></center>
</div>
    <br><div><center><img src="assets/images/dying.jpg"width="250"><br>
    <br><div class="col-sm-4" style="background-color: snow">
        <h3 style="border: 5px solid Tomato;">GAME ID : @pro7.getId</h3>
        <div class="bg-warning text-dark">NAME : @pro7.getName</div>
        <div class="outset">PRICE :@pro7.getPrice</div>
        AMOUNT :@pro7.getAmount
    </div></center>
</div>
    <br><div><center><img src="assets/images/evil2.jpg"width="250"><br>
    <br><div class="col-sm-4" style="background-color: snow">
        <h3 style="border: 5px solid Tomato;">GAME ID : @pro8.getId</h3>
        <div class="bg-warning text-dark">NAME : @pro8.getName</div>
        <div class="outset">PRICE :@pro8.getPrice</div>
        AMOUNT :@pro8.getAmount
    </div></center>
</div>
    <br><div><center><img src="assets/images/final.jpg"width="250"><br>
    <br><div class="col-sm-4" style="background-color: snow">
        <h3 style="border: 5px solid Tomato;">GAME ID : @pro9.getId</h3>
        <div class="bg-warning text-dark">NAME : @pro9.getName</div>
        <div class="outset">PRICE :@pro9.getPrice</div>
        AMOUNT :@pro9.getAmount
    </div></center><br>
</div>

</div>